<div class="panel">
    <div class="panel-header"><i class="fa fa-clock-o icon-left"></i>Update History</div>
    <div class="panel-body">
        <div style="padding: 5px;">
            <b>ludmal@gmail.com</b><br/>on 12.23pm 8th Dec, 2016
        </div>
        <div style="padding: 5px;">
            <b>karu@gmail.com</b><br />on 2.42pm 5th Dec, 2016
        </div>
    </div>
</div>
