<div class="panel">
    <div class="panel-header"><i class="fa fa-clock-o icon-left"></i>Filter by date</div>
    <div class="panel-body">
        <div class="form-label">
            From Date
        </div>
        <div class="form-value">
            <input type="date" class="form-control"/>
        </div>
        <br/>
        <div class="form-label">
            To Date
        </div>
        <div class="form-value">
            <input type="date" class="form-control"/>
        </div>
        <br/>
        <button class="btn btn-danger"><i class="fa fa-filter icon-left"></i>Filter</button>
    </div>
</div>
