@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("_FilterDate")
        @Html.Partial("_FilterUser")
    </div>
    <div class="col-md-9">
        <div class="panel">
            <div class="panel-header">Industrial Gas Atlas data</div>
            <table class="table">
                <thead>

                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Updated by</th>
                    <th>Name</th>
                    <th>Product</th>
                    <th>Market Sector</th>
                    <th>Address</th>
                    <th>Postcode</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td><input type="text" class="filter-textbox" placeholder="Filter"/></td>
                    <td><input type="text" class="filter-textbox" placeholder="Filter"/></td>
                    <td><input type="text" class="filter-textbox" placeholder="Filter"/></td>
                    <td><input type="text" class="filter-textbox" placeholder="Filter"/></td>
                    <td><input type="text" class="filter-textbox" placeholder="Filter"/></td>
                    <td><input type="text" class="filter-textbox" placeholder="Filter"/></td>
                </tr>
                <tr ng-repeat="i in [1, 2, 3, 4,5,6,7,8,9,10,11,12,13,14]">
                    <td><span class="label label-success">View</span></td>
                    <td>1001</td>
                    <td>ludmal.desilva</td>
                    <td>Air Liquide {{i}}</td>
                    <td>LIN</td>
                    <td>Tech & Research</td>
                    <td>Dandenong</td>
                    <td>3173</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>