<ion-view view-title="{{ 'MAIN_TITLE' | translate }}">
  <ion-content>
    <div class="main-window">
    <br>
      <div class="main-title">
        <img src="img/logo.png" class="logo-icon">
            <div translate="MAIN_TITLE">
                Bulk Atlas 
            </div>
      </div>
      <div class="sub-title" translate="SUB_TITLE">Air Liquide Copyrights 2016</div>
      <div style="padding-left:25px">
        <div class="row">
          
          <div class="col box blue">
              <a href="#/app/camera">
              <i class="ion-speedometer icon"></i><br/><span translate="BTN_BULK">Bulk</span>
            </a>
          </div>
          <div class="col box green">
             <a href="#/app/plant">
              <i class="ion-soup-can icon"></i><br/><span translate="BTN_PLANT">Plant</span>
            </a>
          </div>
        </div>
         <div class="row">
         <div class="col box red">
            <a href="#/app/bulk">
              <i class="ion-filing icon"></i><br/><span translate="BTN_DATA">Data</span>
            </a>
          </div>
          <div class="col box yellow">
            <a href="#/app/dash">
              <img src="img/location.png" style="width:70px"/><br/><span translate="BTN_LOCATION">Location</span>
            </a>
          </div>
        </div>
      </div>
    </div>
   </ion-content>
</ion-view>
